{% extends 'base.html' %}
<!--  -->
{% block header %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Lost & Found</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>

      <button
        class="btn btn-success mt-5 -mb-5"
        onclick="location.href='{% url 'lostfound_item_new' %}'"
      >
        Post a new item
      </button>
    </div>
  </div>
</header>
{% endblock %}
<!--  -->
{% block main %}

<!--  -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <!--  -->
  {{ message }}
</div>
<!--  -->
{% endfor %}

<!--  -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for item in lostfound_items %}
      <div class="col mb-5">
        <div
          class="card h-100"
          style="
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 3px 15px rgba(0, 0, 0, 0.2);
          "
        >
          <img
            class="card-img-top card-img-top-same-height"
            src="{{ item.image.url }}"
            alt="..."
          />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ item.title }}</h5>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="{% url 'lostfound_item' item.id %}"
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--  -->
{% endblock %}
