{% extends 'base.html' %} {% block main %}

<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="{{ marketplace_item.image.url }}"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1 badge bg-dark text-white">
          {{ marketplace_item.category.category }}
        </div>
        <h1 class="display-5 fw-bolder">{{ marketplace_item.title }}</h1>
        <div class="fs-5 mb-5">
          <span>$ {{ marketplace_item.price }}</span>
        </div>
        <h2>
          <strong>Description:</strong>
        </h2>
        <p>{{ marketplace_item.description }}</p>
        <p><strong>Contact:</strong> {{ marketplace_item.contact }}</p>
        <p>
          <strong>Posted by:</strong>
          <!--  -->
          {{ marketplace_item.user.first_name }}
          <!--  -->
          {{ marketplace_item.user.last_name }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Similar Items</h2>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for item in similar_items %}
      <div class="col mb-5">
        <div
          class="card h-100"
          style="
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 3px 15px rgba(0, 0, 0, 0.2);
          "
        >
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem; z-index: 9999;"
          >
            {{ item.category.category }}
          </div>
          <img class="card-img-top card-img-top-same-height" src="{{ item.image.url }}" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ item.title }}</h5>
              $ {{ item.price }}
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="{% url 'marketplace_item' item.id %}"
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
