{% extends 'base.html' %}
<!--  -->
{% block header %}
<!--  -->
<!--  -->
{% endblock %}
<!--  -->
{% block main %}
<!--  -->
<div class="container-fluid my-5">
  <div class="row align-items-center">
    <div class="col-md-10 mx-auto col-xl-5 mb-4">
      <div class="lc-block">
        <img
          class="img-fluid rounded"
          src="https://cdn3d.iconscout.com/3d/premium/thumb/marketplace-4085852-3379649.png?f=webp"
          srcset=""
          sizes=""
          width=""
          height=""
          alt="Photo by Alessandro Di Credico"
          loading="lazy"
        />
      </div>
    </div>
    <div class="col-12 col-xl-5 mx-auto" style="">
      <div class="lc-block mb-3 me-lg-5">
        <div editable="rich">
          <h1 class="fw-bolder">Marketplace</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
{% endblock %}
