{% extends 'base.html' %} {% block header %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Room Finder</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Find Your Perfect Roommate, Make Campus Feel Like Home!
      </p>

      <button
        class="btn btn-success mt-5 -mb-5"
        onclick="location.href='{% url 'roomfinder_room_new' %}'"
      >
        Post a new room
      </button>
    </div>
  </div>
</header>
{% endblock %} {% block main %}

<!--  -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <!--  -->
  {{ message }}
</div>
<!--  -->
{% endfor %}

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
      <!-- search -->
      <div class="col-12">
        <form method="GET" action="{% url 'roomfinder_search' %}" class="mb-5">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              name="search"
              value="{{ search }}"
            />
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Apartments</th>
          <th scope="col">Location</th>
          <th scope="col">Availability</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        {% if roomfinder_items|length == 0 %}
        <tr>
          <td colspan="4" class="text-center">No items found</td>
        </tr>
        {% endif %}
        <!--  -->
        {% for item in roomfinder_items %}
        <tr>
          <th scope="row">
            <!--  -->
            {{ item.title }}
          </th>
          <td>
            <!--  -->
            {{ item.location }}
          </td>
          <td>
            <!--  -->
            {{ item.no_of_availability }}
          </td>
          <td>
            <a
              class="btn btn-outline-success mt-auto rounded"
              href="{% url 'roomfinder_room' item.id %}"
              >View Details</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
